.container {
  width: 30%;
  margin-top: 5px;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.form-body {
  border: 1px solid;
  border-radius: 5px;
  padding: 10px;
}
h1 {
  text-align: center;
}
